/* navbar */
nav {
    background-color: #EAEAEA;
    opacity: 0.8;
}
.nav-title {
    font-size: 36px;
    color: #636363;
}
.nav-col {
    font-size: 20px;
    color: #636363;
}

/* body */
body {
    font-size: 14px;
    font-family: Alice;
    font-weight: Regular;
    color: #232323;
    padding: 0px 0px;
}

/* カレンダー */
.v2_21 {
    width: 675px;
    height: 455px;
    position: relative;
    top: 150px;
}

.wrapper {
    margin: 15px;
    max-width: 100%;
}
.calendar {
    width: 650px;
    height: 586px;
    position: absolute;
    top: 226px;
    left: 46px;
}
.top_line {
    width: 100%;
    border: 1px solid #232323;
}
.container-calendar {
    background: #ffffff;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}
.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #DB5D97;
    color: #fff;
    border: 1px solid #DB5D97;
    border-radius: 4px;
    padding: 5px 10px;
}
.table-calendar {
    border-collapse: collapse;
    width: 100%;
}
.table-calendar th,
.table-calendar td{
    padding: 10px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}
.date-picker.selected {
    font-weight: bold;
    color: #fff;
    background: #DB5D97;
}
.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}
/* 日曜 */
.date-picker:nth-child(1) {
    color: #FF4D4D;
}
/* 土曜 */
.date-picker:nth-child(7) {
    color: #283EFF;
}
#monthAndYear {
    text-align: center;
    margin-top: 0;
}
.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}
#previous {
    float: left;
}
#next {
    float: right;
}
.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}
.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #454545;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}
.under_line {
    width: 100%;
    border: 1px solid #232323;
}

/* 草 */
/* .v2_83 {
    width: 50px;
    height: 50px;
    background: rgba(174,219,176,0.44999998807907104);
    opacity: 1;
    position: absolute;
    top: 145px;
    left: 657px;
    border-radius: 50%;
}
.v2_84 {
    width: 50px;
    height: 50px;
    background: rgba(174,219,176,0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 217px;
    left: 552px;
    border-radius: 50%;
} */


/* スクロール */
.hmemorys {
    width: 600px;
    height: 440px;
    position: absolute;
    top: 0px;
    left: 0px;
    /* margin: auto; */
    overflow-y: scroll;
}
.frame-select {
    width: 600px;
    height: 134px;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid #DB5D97;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.frame-normal {
    width: 600px;
    height: 134px;
    position: relative;
    top: 0px;
    left: 0px;
    /* margin: auto; */
    background-color: #fff;
    border: 2px solid #C5C5C5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* .memory-date {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 28px;
    text-align: left;
}
.memory-loc {
    width: 151px;
    position: absolute;
    top: 47px;
    left: 40px;
    font-size: 16px;
    text-align: left;
}
.memory-cap {
    width: 408px;
    position: absolute;
    top: 77px;
    left: 20px;
    font-size: 16px;
    text-align: left;
} */
/* .memory {
    width: 600px;
    height: 134px;
    position: relative;
    left: 0px;
} */

/* 作成 */
/* .create {
    width: 180px;
    height: 80px;
    position: absolute;
    top: 220px;
    left: 1260px;
}
.create_btn {
    width: 130px;
    height: 45px;
    opacity: 0.2;
    position: relative;
    top: 5px;
    left: 10px;
    border: 1px solid #636363;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 7px #636363;
}
.create_txt {
    width: 40px;
    color: #636363;
    position: absolute;
    top: 15px;
    left: 70px;
    font-size: 20px;
    text-align: right;
}
.create_icon img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 30px;
} */

/* map */
.v8_367 {
    width: 52px;
    height: 52px;
    position: absolute;
    top: 835px;
    left: 47px;
    overflow: hidden;
}

/* 検索 */

/* .v39_173 {
    width: 345px;
    height: 45px;
    position: absolute;
    top: 225px;
    left: 800px;
    overflow: hidden;
}
.v39_170 {
    width: 300px;
    height: 45px;
    background: #EAEAEA;
    opacity: 0.57;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid #232323;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.v39_172 {
    width: 97px;
    color: #969595;
    position: absolute;
    top: 5px;
    left: 17px;
    font-size: 24px;
    text-align: left;
} */
