body {
    font-size: 14px;
    font-family: Alice;
    font-weight: Regular;
    color: #232323;
}
.contents {
    position: absolute;
    top: -90px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Diary */
.v2_4 {
    width: 366px;
    color: #636363;
    position: absolute;
    top: 180px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 64px;
    text-align: center;
}

/* username */
.v2_20 {
    width: 355px;
    height: 100px;
    position: relative;
    top: 320px;
    left: 0;
    margin: auto;
}
.v2_6 {
    width: 355px;
    height: 60px;
    position: absolute;
    top: 40px;
    left: 0px;
    border: 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.v2_7 {
    width: 170px;
    position: absolute;
    top: 0px;
    left: 92px;
    font-size: 20px;
    text-align: center;
}

/* password */
.v2_19 {
    width: 355px;
    height: 100px;
    position: relative;
    top: 340px;
    left: 0;
    margin: auto;
    overflow: hidden;
}
.v2_8 {
    width: 355px;
    height: 60px;
    position: absolute;
    top: 40px;
    left: 0px;
    border: 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.v2_9 {
    width: 170px;
    position: absolute;
    top: 0px;
    left: 92px;
    font-size: 20px;
    text-align: center;
}

/* signin */
.v2_14 {
    width: 189px;
    height: 45px;
    position: relative;
    top: 370px;
    left: 0;
    margin: auto;
    overflow: hidden;
}
.v2_10 {
    width: 189px;
    height: 45px;
    background: #DBAEC4;
    opacity: 0.8;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.v2_13 {
    width: 141px;
    position: absolute;
    top: 7px;
    left: 24px;
    font-size: 20px;
    text-align: center;
}

/* signup */
.v2_16 {
    width: 189px;
    height: 45px;
    position: relative;
    top: 420px;
    left: 0;
    margin: auto;
    overflow: hidden;
}
.v2_17 {
    width: 189px;
    height: 45px;
    background: #AEDBB0;
    opacity: 0.8;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.v2_18 {
    width: 141px;
    position: absolute;
    top: 7px;
    left: 24px;
    font-size: 20px;
    text-align: center;
}