<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Alice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/add.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diary</title>
  </head>
  <body>
    <header>
      <div class="nav-img">
        <nav class="navbar navbar-expand navbar-light fixed-top" >
          <a class="navbar-brand nav-title" href="#">Diary</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link nav-col" href="#memory">Memory</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-col" href="#wishlist">Wishlist</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <main class="col-md-10">
      <div class="location col-md-6">
        <div class="loc_frame"></div>
        <span class="loc_txt">Location</span>
      </div>
      <div class="category col-md-6">
        <div class="category_frame"></div>
        <span class="category_txt">Category</span>
      </div>
      <div class="url col-md-6">
        <div class="url_frame"></div>
        <span class="url_txt">URL</span>
      </div>
      
      <div class="add col-md-6">
        <div class="add_btn"></div>
        <span class="add_txt">追加</span>
      </div>
    </main>
  </body>
</html>