<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Alice&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/calendar.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Diary</title>
    </head>
    <body>
        <header>
            <div class="nav-img">
                <nav class="navbar navbar-expand navbar-light fixed-top" >
                    <a class="navbar-brand nav-title" href="#">Diary</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link nav-col" href="#memory">Memory</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-col" href="#wishlist">Wishlist</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div class="v2_21 col-md-12">
                <!-- カレンダー -->
                <div class="calendar col-md-6">
                    <!-- <div class="v2_83"></div>
                    <div class="v2_84"></div> -->
                    <div class="top_line"></div>
                    <div class="container-calendar">
                        <h4 id="monthAndYear"></h4>
                        <div class="button-container-calendar">
                            <button id="previous" onclick="previous()">‹</button>
                            <button id="next" onclick="next()">›</button>
                        </div>
                        
                        <table class="table-calendar" id="calendar" data-lang="ja">
                            <thead id="thead-month"></thead>
                            <tbody id="calendar-body"></tbody>
                        </table>
                        <br>
                        <div class="footer-container-calendar">
                            <label for="month"></label>
                            <select id="month" onchange="jump()">
                                <option value=0>January</option>
                                <option value=1>February</option>
                                <option value=2>March</option>
                                <option value=3>April</option>
                                <option value=4>May</option>
                                <option value=5>June</option>
                                <option value=6>July</option>
                                <option value=7>August</option>
                                <option value=8>September</option>
                                <option value=9>October</option>
                                <option value=10>November</option>
                                <option value=11>December</option>
                            </select>
                            <select id="year" onchange="jump()"></select>
                        </div>
                    </div>
                    <div class="under_line"></div>
                    <!-- mapへ -->
                    <div class="v8_367"></div>
                </div>

                <!-- スクロール -->
                <!-- <div class="col-md-6"> -->
                    <div class="memorys">
                        <div class="memory" style="top: 0px;">
                            <div class="frame-select"></div>
                            <p class="memory-date">Jun.10, 2022</p>
                            <p class="memory-loc">新大久保</p>
                            <p class="memory-cap">辛いものいっぱいかと思ったけどそうではなさそう…？</p>
                        </div>
                        <div class="memory" style="top: 15px;">
                            <div class="frame-normal"></div>
                            <p class="memory-date">Jun.04, 2022</p>
                            <p class="memory-loc">越谷レイクタウン</p>
                            <p class="memory-cap">VSパークに遊びに行った〜</p>
                        </div>
                        <div class="memory" style="top: 30px;">
                            <div class="frame-normal"></div>
                            <p class="memory-date">Jun.04, 2022</p>
                            <p class="memory-loc">越谷レイクタウン</p>
                            <p class="memory-cap">卵と私に初潜入！美味しかった〜！</p>
                        </div>
                        <div class="memory" style="top: 45px;">
                            <div class="frame-normal"></div>
                            <p class="memory-date">May.30, 2022</p>
                            <p class="memory-loc">南大沢</p>
                            <p class="memory-cap">やることやって南大沢へ！</p>
                        </div>
                        <div class="memory" style="top: 60px;">
                            <div class="frame-normal"></div>
                            <p class="memory-date">Jun.10, 2022</p>
                            <p class="memory-loc">新大久保</p>
                            <p class="memory-cap">辛いものいっぱいかと思ったけどそうではなさそう…？</p>
                        </div>
                        <div class="memory" style="top: 75px;">
                            <div class="frame-normal"></div>
                            <p class="memory-date">Jun.04, 2022</p>
                            <p class="memory-loc">越谷レイクタウン</p>
                            <p class="memory-cap">VSパークに遊びに行った〜</p>
                        </div>
                        <div class="memory" style="top: 90px;">
                            <div class="frame-normal"></div>
                            <p class="memory-date">Jun.04, 2022</p>
                            <p class="memory-loc">越谷レイクタウン</p>
                            <p class="memory-cap">卵と私に初潜入！美味しかった〜！</p>
                        </div>
                        <div class="memory" style="top: 105px;">
                            <div class="frame-normal"></div>
                            <p class="memory-date">May.30, 2022</p>
                            <p class="memory-loc">南大沢</p>
                            <p class="memory-cap">やることやって南大沢へ！</p>
                        </div>
                    </div>

                
                
                    <!-- 作成 -->
                    <div class="create">
                        <div class="create_btn"></div>
                        <p class="create_txt">作成</p>
                    </div>

                    <!-- 検索 -->
                    <div class="v39_173">
                        <div class="v39_170"></div>
                        <p class="v39_172">検索する</p>
                    </div>
                <!-- </div> -->
            </div>
        </main>
    </body>
    <script src="../static/js/calendar.js" type="text/javascript"></script>
</html>