<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Alice&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/create.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Diary</title>
    </head>
    <body>
        <header>
            <div class="nav-img">
                <nav class="navbar navbar-expand navbar-light fixed-top">
                    <a class="navbar-brand nav-title" href="#">Diary</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggle-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link nav-col" href="#memory">Memory</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-col" href="#wishlist">Wishlist</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div class="date">
                <p class="column">Date</p>
                <div class="date_frame" style="left: 0px;"></div>
                <p class="date_txt" style="left: 137px;">年</p>
                <div class="date_frame" style="left: 180px;"></div>
                <p class="date_txt" style="left: 317px;">月</p>
                <div class="date_frame" style="left: 360px;"></div>
                <p class="date_txt" style="left: 497px;">日</p>
            </div>

            <div class="location">
                <p class="column">Location</p>
                <div class="location_frame"></div>
            </div>

            <div class="text">
                <p class="column">Text</p>
                <div class="text_frame"></div>
            </div>

            <div class="picture">
                <p class="column">Picture</p>
                <div class="picture_frame"></div>
            </div>

            <div class="create">
                <p class="create_txt">記録</p>
                <div class="create_btn"></div>
            </div>
        </main>
    </body>
</html>