<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Alice&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/login.css">
        <title>Diary</title>
    </head>
    <body>
        <div class="contents">
            <a class="v2_4">Diary</a>
            <!-- username -->
            <div class="v2_20">
                <div class="v2_6"></div>
                <a class="v2_7">User Name</a>
            </div>
            <!-- password -->
            <div class="v2_19">
                <div class="v2_8"></div>
                <a class="v2_9">Password</a>
            </div>
            <!-- signin -->
            <div class="v2_14">
                <div class="v2_10"></div>
                <a class="v2_13">Sing In</a>
            </div>
            <!-- signup -->
            <div class="v2_16">
                <div class="v2_17"></div>
                <a class="v2_18">Sing Up</a>
            </div>
        </div>
    </body>
</html>