<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Alice&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/map.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Diary</title>
    </head>
    <body>
        <header>
            <div class="nav-img">
                <nav class="navbar navbar-expand navbar-light fixed-top" >
                    <a class="navbar-brand nav-title" href="#">Diary</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link nav-col" href="#memory">Memory</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-col" href="#wishlist">Wishlist</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div class="map">
                <!-- mapの枠 -->
                <div class="v8_151"></div>
            </div>
            <div class="memorys">
                <div class="memory" style="top: 0px;">
                    <div class="frame-select"></div>
                    <p class="memory-date">Jun.10, 2022</p>
                    <p class="memory-loc">新大久保</p>
                    <p class="memory-cap">辛いものいっぱいかと思ったけどそうではなさそう…？</p>
                </div>
                <div class="memory" style="top: 15px;">
                    <div class="frame-normal"></div>
                    <p class="memory-date">Jun.04, 2022</p>
                    <p class="memory-loc">越谷レイクタウン</p>
                    <p class="memory-cap">VSパークに遊びに行った〜</p>
                </div>
                <div class="memory" style="top: 30px;">
                    <div class="frame-normal"></div>
                    <p class="memory-date">Jun.04, 2022</p>
                    <p class="memory-loc">越谷レイクタウン</p>
                    <p class="memory-cap">卵と私に初潜入！美味しかった〜！</p>
                </div>
                <div class="memory" style="top: 45px;">
                    <div class="frame-normal"></div>
                    <p class="memory-date">May.30, 2022</p>
                    <p class="memory-loc">南大沢</p>
                    <p class="memory-cap">やることやって南大沢へ！</p>
                </div>
                <div class="memory" style="top: 60px;">
                    <div class="frame-normal"></div>
                    <p class="memory-date">Jun.10, 2022</p>
                    <p class="memory-loc">新大久保</p>
                    <p class="memory-cap">辛いものいっぱいかと思ったけどそうではなさそう…？</p>
                </div>
                <div class="memory" style="top: 75px;">
                    <div class="frame-normal"></div>
                    <p class="memory-date">Jun.04, 2022</p>
                    <p class="memory-loc">越谷レイクタウン</p>
                    <p class="memory-cap">VSパークに遊びに行った〜</p>
                </div>
                <div class="memory" style="top: 90px;">
                    <div class="frame-normal"></div>
                    <p class="memory-date">Jun.04, 2022</p>
                    <p class="memory-loc">越谷レイクタウン</p>
                    <p class="memory-cap">卵と私に初潜入！美味しかった〜！</p>
                </div>
                <div class="memory" style="top: 105px;">
                    <div class="frame-normal"></div>
                    <p class="memory-date">May.30, 2022</p>
                    <p class="memory-loc">南大沢</p>
                    <p class="memory-cap">やることやって南大沢へ！</p>
                </div>
            </div>

        
        
            <!-- 作成 -->
            <div class="create">
                <div class="create_btn"></div>
                <p class="create_txt">作成</p>
                <p class="create_icon"><img src="../static/icon/create_icon.png"></p>
            </div>

            <!-- 検索 -->
            <div class="search">
                <div class="search_frame"></div>
                <p class="search_txt">検索する</p>
            </div>
        </main>
    </body>
</html>