<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Alice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/wishlists.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diary</title>
  </head>
  <body>
    <header>
      <div class="nav-img">
        <nav class="navbar navbar-expand navbar-light fixed-top" >
          <a class="navbar-brand nav-title" href="#">Diary</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link nav-col" href="#memory">Memory</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-col" href="#wishlist">Wishlist</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <div class="v8_291 col-md-12">
        <!-- map -->
        <div class="map col-md-6">
          <div class="map_frame"></div>
        </div>
        <div class="wishlists col-md-6">
          <div class="wish" style="top: 0px;">
            <div class="frame_select"></div>
            <p class="wish_loc">清里バーガー</p>
            <p class="wish_category">foof</p>
            <p class="wish_url">https://www.makiba-res.com/</p>
          </div>
          <div class="wish" style="top: 15px;">
            <div class="frame_normal"></div>
            <p class="wish_loc">赤福の店舗</p>
            <p class="wish_category">food</p>
            <p class="wish_url">https://www.akafuku.co.jp/</p>
          </div>
          <div class="wish" style="top: 30px;">
            <div class="frame_normal"></div>
            <p class="wish_loc">モスプレミアム</p>
            <p class="wish_category">food</p>
            <p class="wish_url">https://www.mospremium.jp/index.html</p>
          </div>
          <div class="wish" style="top: 45px;">
            <div class="frame_normal"></div>
            <p class="wish_loc">グラニースミス</p>
            <p class="wish_category">food</p>
            <p class="wish_url">https://www.grannysmith-pie.com/</p>
          </div>
        </div>
        <!-- 作成 -->
        <div class="add">
          <div class="add_btn"></div>
          <p class="add_txt">追加</p>
          <p class="create_icon"><img src="../static/icon/create_icon.png"></p>
        </div>

        <!-- 検索 -->
        <div class="search">
          <div class="search_frame"></div>
          <p class="search_txt">検索する</p>
        </div>
      </div>
    </main>
  </body>
</html>